body {
  margin: 0;
  overflow: hidden;

  background-color: black;
}

#ui-layer {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100dvh;

  color: white;
}

.ui-element {
  display: block;
  position: relative;
}

.ui-label, .ui-button, .ui-input {
  position: absolute;
}

.ui-anchor-topright {
  right: 0;
  top: 0;
}